<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreaziqing.signlanguagedetectionapp">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignLanguageDetectionApp">
        <activity
            android:name=".Common.GlossarySlider"
            android:exported="false" />
        <activity
            android:name=".PracticeGames.FullSecondGame"
            android:exported="false" />
        <activity
            android:name=".PracticeGames.BetweenGamesActivity"
            android:exported="false" />
        <activity
            android:name=".PracticeGames.ThirdGame"
            android:exported="false" />
        <activity
            android:name=".PracticeGames.SecondGame"
            android:exported="false" />
        <activity
            android:name=".PracticeGames.FirstGame"
            android:exported="false" />
        <activity
            android:name=".DetectorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity"
            android:exported="true" />
        <activity
            android:name=".Common.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Common.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Common.OnBoarding"
            android:exported="true" />
        <activity
            android:name=".Navigation.NavigationTabsController"
            android:exported="true" />
    </application>

</manifest>